/* You can add global styles to this file, and also import other style files */
$text-color-main: #ccc333;
html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: $text-color-main;
    font-size: 18px;
}